/* styles.css */

@font-face {
    font-family: 'sofiaregular';
    src: url('../fonts/sofia-regular-webfont.eot');
    src: url('../fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sofia-regular-webfont.woff2') format('woff2'), url('../fonts/sofia-regular-webfont.woff') format('woff'), url('../fonts/sofia-regular-webfont.ttf') format('truetype'), url('../fonts/sofia-regular-webfont.svg#sofiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header>div {
    /* Seulement pour permettre le positionnement absolute du h1. */
    position: relative;
}

header>div img {
    /* Utilise 100% de la largeur et conserve le ratio de l'image. */
    width: 100%;
   
}

h1 {
    font-size: 2.5em;
   
    position: absolute;
    width: 100%;
    top: 25%;
    /* IE fallback */
    background-color: lightblue;
    background-color: rgba(173, 216, 230, 0.8);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: #fff;
    padding: 05px;
}


header nav ul {
    display: flex;
    /* on élimine les puces sur tous les ul */
    list-style: none;
    /* on élimine la marge intérieure par défaut des ul */
    padding-left: 0;
    background-color: aqua;
    margin: 40px;
}

.lien {
    background-color: lightgrey;
    flex-basis: 100%;
    flex-grow: 1;
    /*
        flex: 1 1 100%; ou tout les propriétée:  flex-grow: 1 / flex-shrink: 1 / flex-basis: 100%
        Tous les éléments ont la même largeur et la somme de leurs largeurs est équivalente à la largeur totale du parent.
    */
    text-align: center;
   
   
}

nav ul li a, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
    /* on élimine le soulignage des liens */
    text-decoration: none;
    /* le lien occupe la totalité du li en largeur */
    width: 100%;
    /* pour que le lien occupe la largeur et la hauteur prédéfinies */
    display: block;
    /* pour ajouter des marges intérieures et agrandir le block du lien */
    padding: 20px;
}

nav ul li a:hover {
    background-color: grey;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
   padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
.langages {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 200px; /* Définir la hauteur maximale de la section des langages */
}
.langages img {
    width: 100px; /* Ajuster la taille des images des langages */
    margin-right: 10px;
}
.langages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.langages ul li {
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0 auto;
    }
}
