/* text-styles.css */

/* Style du titre h2 */
h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style des paragraphes */
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Style des liens */
a {
    color: #007bff; /* Bleu pour les liens */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}
